footer {
  .logo-container {
    // display: block;
    width: 100%;
    margin-bottom: 0.625rem;
    max-width: 20rem;
    @include media($large) {
      width: 20rem;
      margin-bottom: 0;
      margin-right: 5rem;
    }
  }
  .text-container {
    flex: auto;
  }
  .footer-text {
    text-transform: uppercase;
    font-size: 0.75rem;
    text-align: center;
    // display: block;
    @include media($large) {
      font-size: 1rem;
      color: #999;
      letter-spacing: 2px;
    }
  }
}
