.top-bar {
  display: flex;
  flex-direction: row;
  height: $menu-height;
  width: 100%;

  //Menu Icon
  .menu-icon {
    // padding: 0.5rem;
    width: $menu-height;
    span {
      &:before {
        content: url(../imgs/menu-icon_menu.svg);
        fill: pink;
        color: pink;
        padding: 0.5rem;
        height: 40px;
        display: block;
      }
    }
  }

  .site-logo {
    padding: 0.5rem;
    width: $menu-height;
    margin-left: auto;
  }

  nav.main-nav {
    display: none;
  }

  svg {

  }
}
