#landing {
  @include media($large) {
    flex: 1 100%;
  }
}

#about-us, #contact-us {
  @include media($large) {
    flex: 1 50%;
  }
}

#landing {
  // padding-top: 10px;
}
.main-logo {
  @include media($large) {
  }
  .content {
    padding-left: 9%;
    padding-right: 9%;
    padding-bottom: 0;
    margin-bottom: -20px;
    @include media($large) {
      padding: 1rem 1rem 0 0;
      width: 30%;
      height: auto;
      margin-left: auto;
      margin-bottom: -8rem;

    }
  }
}
.landing-title {
  .content-wrapper {
    padding: 30px 0;
  }
  .content {
    padding: 5px 20px;
  }
  h2 {
    text-align: center;
    letter-spacing: 0px;
    margin: 0;
    line-height: 1.2;
    @include media($large) {
      letter-spacing: 3px;
      line-height: 1.4;
      margin: 1rem 0;
    }
  }
}

.icon {
  display: block;
  &.arrow-down:before {
    content: url(../imgs/icons_arrow-down.svg);
  }
  &.mail:before {
    content: url(../imgs/icons_mail.svg);
  }
}
.down {
  .content {
    padding: 0;
  }
  .icon {
    width: 40px;
    height: auto;
    margin: -10px auto 0;
  }
}
// TODO: Solve background sizing issue.
#about-us {
  background-image: url(../imgs/bg_people.svg);
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 120%;
  @include media($medium) {
    background-size: 80%;
  }
  .content {
    background-image: url(../imgs/bg_box.svg);
    background-position: -60px 40px;
    background-repeat: no-repeat;
    background-size: 70%;
    @include media($medium) {
      background-image: none;
    }
    @include media($large) {
      background-image: none;
    }
  }
  @include media($large) {
    background-image: none;
    background-image: url(../imgs/bg_box.svg);
    background-position: -30px 40px;
    background-repeat: no-repeat;
    background-size: 40%;
    .content {
      max-width: 600px;
      margin: 0 auto;
    }
  }
}
main.site-inner {
  @include media($large) {
    background-image: url(../imgs/bg_people_r.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 50%;
  }
}

#contact-us {


  .content {

  }
  .contact {
    list-style: none;
    line-height: 2;
    padding: 0;
    li {
      .button {
        color: white;
        display: block;
        padding: 1.5rem 1rem;
        background-color: $primary-color;
        margin: 0 0 2rem;
        @include media($large) {
          padding: 0;
          background: none;
          color: $secondary-color;
          font-size: 1.5rem;
          span {
            color: $primary-color;
          }

        }
        span {
          margin-right: 0.5rem;
          color: $secondary-color;
        }
      }
      a.button {
        transition: 0.2s ease-in-out ;
        &:hover {
          background-color: lighten($primary-color, 10%);
        }
      }
    }
  }
}
